@import '../../index.scss';

#services {
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px 30px;
        &:hover {
            img:hover {
                transform: scale(1.05);
            }

            img:not(:hover) {
                transform: scale(.9);
                filter: grayscale(75%);
            }
        }

        article {
            
            width: clamp(230px,15dvw,470px);
            img {
                border-radius: 4px;
                width: 100%;
                transition: 1s;
            }
            p {
                margin-top: -10px;
            }
        }
    }

    article {
        text-align: center;
        row-gap: 48px;

        * {
            margin-block: 20px;
        }

        p {
            max-width: 650px;
        }
    }
}